{% extends 'base.html' %}

{% load i18n %}

{% block body %}
    {% block site_messages %}
        {% include 'includes/site_messages.html' %}
    {% endblock %}

    {% block sidebar_nav %}
        {% include 'includes/sidebar_nav.html' %}
    {% endblock sidebar_nav %}

    <div class="ml-64">
        {% block content_wrapper %}
            <div class="{% block content_class %}w-full{% endblock %}" id="content-wrapper">

                {% block page_header %}
                    <div class="bg-white px-8 py-6 shadow-sm">
                        <div class="flex items-center justify-between">
                            <div>
                                {% block page_title %}<h1 class="{% block page_title_class %}text-2xl font-semibold text-gray-900{% endblock %}">{{ page_title }}</h1>{% endblock %}
                                {% block page_subtitle %}{% endblock %}
                            </div>
                            {% block page_actions %}{% endblock %}
                        </div>
                    </div>
                {% endblock page_header %}

                <div class="p-8">
                    {% block content %}
                    {% endblock content %}
                </div>

            </div>
        {% endblock content_wrapper %}
    </div>

    {% block footer %}
    {% endblock %}
{% endblock body %}
