{% extends 'dual_use/base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% load compress %}

{% block page_header %}
    <div class="page-header">

        <div class="row">
            <div class="col-sm-4">
                {% block page_title %}
                    <h1 class="page-title {% block page_title_class %}{% endblock %}">
                        {{ page_title }}
                    </h1>
                {% endblock page_title %}

                {% block page_subtitle %}
                    <h6 class="page-subtitle">
                        {% trans 'Dual-use database.' %}
                    </h6>
                {% endblock page_subtitle %}
            </div>

            {% comment %}
            <div class="col-sm">
                {% include 'deals/includes/missed_deal_filters.html' %}
            </div>
            {% endcomment %}
        </div>

    </div>
{% endblock page_header %}


{% block content %}
    <div class="page-content">

        <div class="list-container overflow-x-auto">

            <div class="row list-row list-th">
                <div class="col-3 list-col" title="{% trans 'Company name, HQ location and stage' %}">
                    <div class="list-index"></div>
                    {% trans 'Company' %}
                </div>
                <div class="col-3 list-col" title="{% trans 'Organization short description' %}">{% trans 'Summary' %}</div>
                <div class="col-3 list-col" title="{% trans '' %}">{% trans 'Industries' %}</div>
                <div class="col-1 list-col text-nowrap" title="{% trans '' %}">{% trans 'Last funding' %}</div>
                <div class="col-1 list-col" title="{% trans '' %}">{% trans 'Total funding' %}</div>
            </div>

            {% include 'deals/includes/missed_deal_list.html' %}

        </div>

    </div>
{% endblock content %}



{# Start: Extra JavaScripts #}
{% block extra_js %}
    {{ block.super }}

    {% compress js %}
    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
    <script>
        $(document).ready(function() {
            // Use pagination
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 100
            });

            // Use select2
            $("select:visible[name='year_evaluated']").select2({
                theme: "bootstrap-5"
            });

            $("select:visible[name='industries']").select2({
                theme: "bootstrap-5"
            });

            $("select:visible[name='hq_country']").select2({
                theme: "bootstrap-5"
            });
        });
    </script>
    {% endcompress %}
{% endblock %}
{# End: Extra JavaScripts #}
