{% extends 'deals/base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% load compress %}

{% block content_class %}container{% endblock %}
{% block page_title_class %}text-center{% endblock %}

{% block content %}
    <form method="POST"
          action="{% url 'deals:deal-create-staff' deal.uuid %}"
          class="form-default">

        {% csrf_token %}
        {{ form|crispy }}

        <div class="text-center mt-4 mb-4">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            <a href="{{ deal.get_absolute_url }}" class="btn btn-light">{% trans 'Cancel' %}</a>
        </div>

    </form>
{% endblock content %}
