{% extends 'dual_use/base.html' %}

{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content_class %}container{% endblock %}
{% block page_title_class %}text-center{% endblock %}

{# Start: Page content #}
{% block content %}

    {# Start: Delete confirmation message #}
    <div class="text-center mb-4 fw-bold">
        {% blocktrans with company_name=object.name trimmed %}
        Are you sure you want to delete the company "{{ company_name }}"?
        {% endblocktrans %}
    </div>
    {# End: Delete confirmation message #}

    {# Start: Delete form #}
    <form method="POST"
          action="{% url 'dual-use:report-delete' object.uuid %}">

        {% csrf_token %}

        {{ form|crispy }}

        <div class="text-center">
            <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
            <a href="{{ object.get_absolute_url }}" class="btn btn-light">{% trans 'Cancel' %}</a>
        </div>
    </form>
    {# End: Delete form #}

{% endblock content %}
{# End: Page content #}
