{% extends 'socialaccount/base.html' %}


{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
    {% if process == "connect" %}
        <h1>
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
        </h1>
        <p>
            {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
        </p>
    {% else %}
        <h4>
            {% blocktrans with provider.name as provider %}You are about to sign in using a {{ provider }} account.{% endblocktrans %}
        </h4>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <button type="submit" class="btn btn-primary mt-4">
            {% trans "Continue" %}
        </button>
    </form>

{% endblock content %}
